
# python stuff
*.ipnyb_checkpoints
*.pyc

# misc nonsene
*.DS_Store
*.csv
*.pdf
*.docx
*.pptx

# Data files
data/

# Application files
app/ui/frontend/package-lock.json
app/ui/frontend/node_modules/
app/ui2/
