{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg">
      <h2> Overview </h2>
      <p>
        Finding a new job is hard, and the internet is littered with listicles, clickbait, and shallow LinkedIn posts explaining the skills you <b>have to have</b> to progress in tech.

        Even if the quality of online resources were better, the problem remains...this stuff is hard! For example, can you get 10 of the questions from <a href="https://github.com/pixelastic/pokemonorbigdata" target="_blank">this app</a> right?
        <br><br>

        <iframe id="theFrame" src="https://pixelastic.github.io/pokemonorbigdata/" style="height: 475px; width:100%;" frameborder="0">
        </iframe>
        <br><br>
        In this project, we sought to build a tool that jobseekers can use to cut through the noise and get actionable recommendations for what to do next.

        Fundamentally, we tried to build software to answer this question:
      </p>
      <blockquote>
        <i>I know [these things]. What should I learn next?</i>
      </blockquote>
      <p>
      To learn more, visit the project <a href="https://github.com/shiftorg/skills" target="_blank">Github repo</a>.
      </p>
      <h2> Meet the Team </h2>
      <p>
        <a href="https://www.linkedin.com/in/samgoodgame/" target="_blank">Sam Goodgame</a>, <b>Data Scientist, Shift.org</b>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/raghuram-pamidimarri-573469a/" target="_blank">Raghuram Pamidimarri</a>, <b>Principal Software Engineer, Okta</b>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/jameslamb1/" target="_blank">James Lamb</a>, <b>Senior Data Scientist, Uptake</b>
      </p>
      <h2> Background </h2>
      <p>
        This project was completed at the <a href="https://datascience.berkeley.edu/" target="_blank">University of California, Berkeley.</a>
      </p>
    </div>
  </div>
{% endblock %}
