{% extends "layout.html" %}
{% block content %}
  <!-- MAIN PAGE CONTENT -->
  <div class="row">
    <h1> Explore Jobs </h1>
    <p>
    The plots below can be used to explore the dataset of jobs and salaries that was used to create the models at the core of this project. Have fun!
    </p>
    <br>
  </div>
  <div class="row">
    <div class="col-lg" style="height:1200px">
      <iframe src="http://34.235.155.212:5601/app/kibana#/dashboard/1f46d3b0-36eb-11e8-bc51-3d1df9db5706?embed=true&_g=()" frameborder="0" style="height:1200px;width:100%;display:block;" height="100%" width="100%"></iframe>
    </div>
  </div>
{% endblock %}
