{% extends "layout.html" %}
{% block content %}
  <!-- MAIN PAGE CONTENT -->
  <div class="row">
    <div class="col-lg">
      <h1> Elevate </h1>
      <p>
          This application helps you elevate your tech game. Find out what you should learn next. Paste in your resume below or type your skills below.
      </p>
    </div>
  </div>

  <!-- Vue component that creates job cards -->
  <div class="row">
    <div class="col-lg">
          <div id="app"></div>
    </div>
  </div>
{% endblock %}
