{% extends "layout.html" %}
{% block content %}
  <!-- MAIN PAGE CONTENT -->
  <div class="row">
    <div class="col-lg">
      <h1> skills app </h1>
      <p>
          Use this application to find what you should learn next! To begin, paste in your resume below. or just type skills directly into the "Your Skills" box.
      </p>
    </div>
  </div>

  <!-- Vue component that creates job cards -->
  <div class="row">
    <div class="col-lg">
          <div id="app"></div>
    </div>
  </div>
{% endblock %}
